In [1]:
import seaborn as   sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include=['float64', 'int64'])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [3]:
from ycimpute.imputer import knnimput

In [2]:
var_names = list(df)

In [4]:
import numpy as np
n_df = np.array(df)

In [5]:
n_df[0:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [6]:
n_df.shape

(891, 6)

In [7]:
dff = knnimput.KNN(k=4).complete(n_df) #knn algoritması ile eksik verileri doldurduk

Imputing row 1/891 with 0 missing, elapsed time: 0.085
Imputing row 101/891 with 0 missing, elapsed time: 0.086
Imputing row 201/891 with 0 missing, elapsed time: 0.086
Imputing row 301/891 with 1 missing, elapsed time: 0.087
Imputing row 401/891 with 0 missing, elapsed time: 0.087
Imputing row 501/891 with 0 missing, elapsed time: 0.087
Imputing row 601/891 with 0 missing, elapsed time: 0.088
Imputing row 701/891 with 0 missing, elapsed time: 0.088
Imputing row 801/891 with 0 missing, elapsed time: 0.088

In [8]:
type(dff)

numpy.ndarray

In [10]:
import pandas as pd
dff = pd.DataFrame(dff, columns=var_names)

In [11]:
type(dff)

pandas.core.frame.DataFrame

In [12]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [ ]:
# random forest ile doldurma

In [14]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include=['float64', 'int64'])

In [16]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [17]:
var_names = list(df)

In [18]:
import numpy as np
n_df = np.array(df)

In [23]:
from ycimpute.imputer import iterforest
dff = iterforest.IterImput().complete(n_df)#random forest algoritması ile eksik verileri doldurduk

AttributeError: module 'ycimpute.imputer.iterforest' has no attribute 'IterImput'

In [21]:
dff = pd.DataFrame(dff, columns=var_names)

In [22]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64