In [3]:
import numpy as np
import pandas as pd
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V4 = np.array(["IT",np.NaN,"IK","IK","IK","IK","IK","IT","IT"],dtype=object)
df = pd.DataFrame(
    {
        "maas": V1,
        "departman": V4
    }
)
df

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IK
6   NaN        IK
7   9.0        IT
8  15.0        IT

In [5]:
df["departman"].fillna(df["departman"].mode()[0])# mode() fonksiyonu ile en çok tekrar eden değeri bulduk ve onunla doldurduk.

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

In [8]:
df["departman"].fillna(method = "bfill")# bfill metodu ile bir sornki değer ile doldurduk.

C:\Users\kinkb\AppData\Local\Temp\ipykernel_8300\691145543.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["departman"].fillna(method = "bfill")# bfill metodu ile bir sornki değer ile doldurduk.

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object